{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}
{% block title %} Mole scanner{% endblock %}
{% block content %}
    <div class="containercontainer">
        <div class="formcontainer">
            {{ wtf.quick_form(form) }}
        </div>
        {% if picture != None %}
            <div class="picturecontainer">
                <img src="{{ url_for('static', filename=picture) }}" width="200px" height="200px">
        {% for message in get_flashed_messages() %}
            <div id="message"> {{ message }} </div>
        {% endfor %}
            </div>
    {% endif %}
    </div>
{% endblock %}
